language: csharp
mono: none
dotnet: 2.1.300
env:
  - TRAVIS=true
solution: Extensions.Generic.Deconstructors.sln
install:
  - dotnet restore Extensions.Generic.Deconstructors.sln
script:
  - dotnet build Extensions.Generic.Deconstructors.sln
  - dotnet test ./tests
